# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CORE Quality Test

env:
    RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
    RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
    RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
    RPC_ANVIL: ${{ secrets.RPC_ANVIL }}
    RPC_SONIC: ${{ secrets.RPC_SONIC }}
    RPC_AVALANCHE: ${{ secrets.RPC_AVALANCHE }}
    RPC_INK: ${{ secrets.RPC_INK }}
    PRIVATE_KEY: ${{ secrets.ANVIL_PRIVATE_KEY }}
    VERIFIER_URL_SONIC: ${{ secrets.VERIFIER_URL_SONIC }}
    VERIFIER_API_KEY_SONIC: ${{ secrets.VERIFIER_API_KEY_SONIC }}
    AGGREGATOR: "1INCH" # because it is available on all blockchains

on:
    push:
        branches: [ master, develop ]
        paths:
            - silo-core/**/*.sol
            - silo-core/**/*.ts
            - silo-core/**/*.js
            - silo-core/**/*.json
            - silo-oracles/**/*.sol
            - silo-oracles/**/*.ts
            - silo-oracles/**/*.js
            - silo-oracles/**/*.json
            - package.json
            - yarn.lock
            - gitmodules/*
            - .gitmodules
            - .github/workflows/silo-core.yml

    pull_request:
        paths:
            - silo-core/**/*.sol
            - silo-core/**/*.ts
            - silo-core/**/*.js
            - silo-core/**/*.json
            - silo-oracles/**/*.sol
            - silo-oracles/**/*.ts
            - silo-oracles/**/*.js
            - silo-oracles/**/*.json
            - package.json
            - yarn.lock
            - gitmodules/*
            - .gitmodules
            - .github/workflows/silo-core.yml

jobs:
    silo-size:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Run submodule update
                run: git submodule update --init --recursive

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: Run Forge build
                run: |
                    git submodule
                    forge --version
                    FOUNDRY_PROFILE=core forge build --sizes

    linters:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout sources
                uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Set up Node.js
                uses: actions/setup-node@v3
                with:
                    node-version: 20.x
                    cache: 'yarn'

            -   run: yarn install

            -   name: Solidity Lint
                run: yarn workspace silo-core lint:sol

            -   name: Solidity Tests Lint
                run: yarn workspace silo-core lint-tests:sol

            -   name: Solidity Deploy Scripts Lint
                run: yarn workspace silo-core lint-deploy:sol

            -   name: Solidity Common Lint
                run: yarn workspace silo-core lint-common:sol

    fast-tests:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: all fast test
                run: FOUNDRY_PROFILE=core_test forge test --no-match-test "_skip_" --nmc "MaxBorrow|MaxLiquidationTest|MaxLiquidationBadDebt|PreviewTest|PreviewDepositTest|PreviewMintTest|SiloLensCompatibilityTest|NewMarketTest|SiloDeployerIntegrationTest|DefaultingLiquidation" --ffi -vv

    slow-contracts-tests:
        strategy:
            matrix:
                match-contract: [
                    MaxBorrow,
                    MaxDepositTest,
                    MaxLiquidationBadDebt,
                    PreviewTest,
                    PreviewDepositTest,
                    PreviewMintTest,
                    DefaultingLiquidation
               ]

        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: ${{ matrix.match-contract }}
                run: FOUNDRY_PROFILE=core_test forge test --no-match-test "_skip_" --mc ${{ matrix.match-contract }} --ffi -vv

    MaxLiquidationTest:
        strategy:
            matrix:
                match-test: [
                    test_maxLiquidation_noDebt,
                    test_maxLiquidation_partial_sTokens,
                    test_maxLiquidation_partial_tokens
               ]

        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: ${{ matrix.match-test }}
                run: FOUNDRY_PROFILE=core_test forge test --no-match-test "_skip_" --mc MaxLiquidationTest --mt ${{ matrix.match-test }} --ffi -vv

    SiloLensCompatibilityTest:
        strategy:
            matrix:
                match-contract: [ SiloLensCompatibilityTest ]

        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: ${{ matrix.match-contract }}
                run: FOUNDRY_PROFILE=core_test forge test --no-match-test "_skip_" --mc ${{ matrix.match-contract }} --ffi -vv
