# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CORE Quality Test

env:
    RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
    RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
    RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
    RPC_ANVIL: ${{ secrets.RPC_ANVIL }}
    RPC_SONIC: ${{ secrets.RPC_SONIC }}
    RPC_AVALANCHE: ${{ secrets.RPC_AVALANCHE }}
    RPC_INK: ${{ secrets.RPC_INK }}
    PRIVATE_KEY: ${{ secrets.ANVIL_PRIVATE_KEY }}
    VERIFIER_URL_SONIC: ${{ secrets.VERIFIER_URL_SONIC }}
    VERIFIER_API_KEY_SONIC: ${{ secrets.VERIFIER_API_KEY_SONIC }}
    AGGREGATOR: "1INCH" # because it is available on all blockchains

on:
    push:
        branches: [ master, develop ]
        paths:
            - 'silo-core/deployments/*/SiloDeployer.sol.json'

    pull_request:
        paths:
            - 'silo-core/deployments/*/SiloDeployer.sol.json'

jobs:
    silo-deployer-tests:
        strategy:
            matrix:
                match-rpc: [
                    RPC_SONIC,
                    RPC_ARBITRUM,
                    RPC_OPTIMISM,
                    RPC_AVALANCHE,
                    RPC_MAINNET,
                    RPC_INK
               ]

        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: Check Deployer with ${{ matrix.match-rpc }}
                run: FOUNDRY_PROFILE=core_test RPC_URL=$${{ matrix.match-rpc }} forge test --mc SiloDeployerIntegrationTest --ffi -vv
