# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: RPC related tests

env:
    RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
    RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
    RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
    RPC_ANVIL: ${{ secrets.RPC_ANVIL }}
    RPC_SONIC: ${{ secrets.RPC_SONIC }}
    RPC_AVALANCHE: ${{ secrets.RPC_AVALANCHE }}
    PRIVATE_KEY: ${{ secrets.ANVIL_PRIVATE_KEY }}

on:
    push:
        branches:
            - 'release/**'
            - 'hotfix/**'

    pull_request:
        types: [ready_for_review]
        branches:
            - 'release/**'
            - 'hotfix/**'

jobs:
    silo-rpc-tests:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: Cache Foundry RPC (all chains and blocks)
                uses: actions/cache@v4
                with:
                    path: ~/.foundry/cache/rpc
                    key: foundry-rpc-${{ runner.os }}-v1
                    restore-keys: |
                        foundry-rpc-${{ runner.os }}-

            -   name: Run vaults tests
                run: FOUNDRY_PROFILE=vaults_tests forge test --mc "SiloVaultDeployerTest" -vv --ffi

            -   name: Run oracle tests (WrappedMetaVaultOracleAdapterTest)
                run: FOUNDRY_PROFILE=oracles forge test --mc "WrappedMetaVaultOracleAdapterTest" -vv --ffi

            -   name: Run oracle tests (PendleWrapperLPTOracle)
                run: FOUNDRY_PROFILE=oracles forge test --mc "PendleWrapperLPTOracle" -vv --ffi
            
            -   name: Run oracle tests (PendlePTOracleTest)
                run: FOUNDRY_PROFILE=oracles forge test --mc "PendlePTOracleTest" -vv --ffi

            -   name: Run oracle tests (PendleLPTOracleTest)
                run: FOUNDRY_PROFILE=oracles forge test --mc "PendleLPTOracleTest" -vv --ffi

            -   name: Run oracle tests (ERC4626PriceManipulation)
                run: FOUNDRY_PROFILE=oracles forge test --mc "ERC4626PriceManipulation" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "BackwardsCompatibleGaugeLikeTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "SiloIncentivesControllerGaugeLikeIntegrationTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "LeverageWstkscUSDTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "Tutorial" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "SiloDeployerIntegrationTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "SiloLensCompatibilityTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "SiloRouterV2ActionsTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "SiloRouterPendleLPTsTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "SiloVerifierScriptTest" -vv --ffi

            -   name: Run core tests (EggsSonicPriceProvider, uses RPC cache when available)
                run: 
                    FOUNDRY_PROFILE=core_test forge test --fork-url $RPC_SONIC --fork-block-number 10053279 --mc "EggsSonicPriceProvider" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "PendleRewardsClaimerTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "DexSwapEnsoSonicTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "DexSwapOdosSonicTest" -vv --ffi

            -   name: Run core tests
                run: FOUNDRY_PROFILE=core_test forge test --mc "LiquidationHelperOdosTest" -vv --ffi