# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: VAULTS Quality Test

env:
    RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
    RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
    RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
    RPC_ANVIL: ${{ secrets.RPC_ANVIL }}
    RPC_SONIC: ${{ secrets.RPC_SONIC }}
    RPC_AVALANCHE: ${{ secrets.RPC_AVALANCHE }}
    PRIVATE_KEY: ${{ secrets.ANVIL_PRIVATE_KEY }}

on:
    push:
        branches:
            - 'release/**'
            - 'hotfix/**'

    pull_request:
        types: [ready_for_review]
        branches:
            - 'release/**'
            - 'hotfix/**'

jobs:
    silo-vaults-tests:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Cache silo-vaults contracts
                uses: actions/cache@v3
                with:
                    path: ./cache/
                    key: silo-vaults-contracts-cache-${{ hashFiles('./silo-vaults/**/*.sol') }}
                    restore-keys: |
                        silo-vaults-contracts-cache-${{ hashFiles('./silo-vaults/**/*.sol') }}
                        silo-vaults-contracts-cache-

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: Run tests
                run: FOUNDRY_PROFILE=vaults_tests forge test --no-match-test "_skip_" --mc "SiloVaultDeployerTest" -v --ffi
