# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CORE Deployments checks

env:
    RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
    RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
    RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
    RPC_ANVIL: ${{ secrets.RPC_ANVIL }}
    RPC_SONIC: ${{ secrets.RPC_SONIC }}
    RPC_AVALANCHE: ${{ secrets.RPC_AVALANCHE }}
    RPC_INK: ${{ secrets.RPC_INK }}
    PRIVATE_KEY: ${{ secrets.ANVIL_PRIVATE_KEY }}
    VERIFIER_URL_SONIC: ${{ secrets.VERIFIER_URL_SONIC }}
    VERIFIER_API_KEY_SONIC: ${{ secrets.VERIFIER_API_KEY_SONIC }}
    AGGREGATOR: "1INCH" # because it is available on all blockchains

on:
    push:
        branches: [ master, develop ]
        paths:
            - silo-core/**/*.sol
            - silo-core/**/*.ts
            - silo-core/**/*.js
            - silo-core/**/*.json
            - silo-oracles/**/*.sol
            - silo-oracles/**/*.ts
            - silo-oracles/**/*.js
            - silo-oracles/**/*.json
            - package.json
            - yarn.lock
            - gitmodules/*
            - .gitmodules
            - .github/workflows/silo-core.yml

    pull_request:
        branches: [ master, develop ]
        types: [ ready_for_review ]
        paths:
            - silo-core/**/*.sol
            - silo-core/**/*.ts
            - silo-core/**/*.js
            - silo-core/**/*.json
            - silo-oracles/**/*.sol
            - silo-oracles/**/*.ts
            - silo-oracles/**/*.js
            - silo-oracles/**/*.json
            - package.json
            - yarn.lock
            - gitmodules/*
            - .gitmodules
            - .github/workflows/silo-deployments-checks.yml

jobs:
    checks:
        strategy:
            matrix:
                match-contract: [
                    SiloDeployerIntegrationTest,
                    SiloLensCompatibilityTest,
                    BackwardsCompatibleGaugeLikeTest
               ]

        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: ${{ matrix.match-contract }}
                run: FOUNDRY_PROFILE=core_test forge test --no-match-test "_skip_" --mc ${{ matrix.match-contract }} --ffi -vv
