name: Withdraw Fees (Claim Revenue)

on:
    workflow_dispatch:
    schedule:
        # Run on the 1st day of every month at 00:00 UTC
        - cron: '0 0 1 * *'

env:
    RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
    RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
    RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
    RPC_ANVIL: ${{ secrets.RPC_ANVIL }}
    RPC_SONIC: ${{ secrets.RPC_SONIC }}
    RPC_AVALANCHE: ${{ secrets.RPC_AVALANCHE }}
    RPC_INK: ${{ secrets.RPC_INK }}
    PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}

jobs:
    withdraw-fees:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    submodules: recursive

            -   name: Install Foundry
                uses: foundry-rs/foundry-toolchain@v1
                with:
                    version: v1.2.3

            -   name: Build silo foundry utils
                working-directory: ./gitmodules/silo-foundry-utils
                run: |
                    cargo build --release
                    cp target/release/silo-foundry-utils ../../silo-foundry-utils
                    ../../silo-foundry-utils --version

            -   name: Run submodule update
                run: git submodule update --init --recursive

            -   name: Withdraw Fees - Arbitrum Factory 1
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0x384DC7759d35313F0b567D42bf2f611B285B657C \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_ARBITRUM --broadcast

            -   name: Withdraw Fees - Arbitrum Factory 2
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0x621Eacb756c7fa8bC0EA33059B881055d1693a33 \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_ARBITRUM --broadcast

            -   name: Withdraw Fees - Arbitrum Factory 3
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0x44347A91Cf3E9B30F80e2161438E0f10fCeDA0a0 \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_ARBITRUM --broadcast

            -   name: Withdraw Fees - Avalanche Factory
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0x92cECB67Ed267FF98026F814D813fDF3054C6Ff9 \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_AVALANCHE --broadcast

            -   name: Withdraw Fees - Mainnet Factory
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0x22a3cF6149bFa611bAFc89Fd721918EC3Cf7b581 \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_MAINNET --broadcast

            -   name: Withdraw Fees - Optimism Factory
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0xFa773e2c7df79B43dc4BCdAe398c5DCA94236BC5 \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_OPTIMISM --broadcast

            -   name: Withdraw Fees - Sonic Factory 1
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0x4e9dE3a64c911A37f7EB2fCb06D1e68c3cBe9203 \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_SONIC --broadcast

            -   name: Withdraw Fees - Sonic Factory 2
                run: |
                    FOUNDRY_PROFILE=core FACTORY=0xa42001D6d2237d2c74108FE360403C4b796B7170 \
                    forge script silo-core/scripts/WithdrawFees.s.sol \
                    --ffi --rpc-url $RPC_SONIC --broadcast

